.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#75D7EB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#41c9e3;
}

li {
  float: left;
}

.equal{
  color:white;
}

#wrong{
  margin-right: 800px
}
input[type=text] {
  width: 56%;
  padding: 12px 20px;
  font-size: 18px;
  margin: 8px 0;
  visibility: hidden;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select{
  width: 50%;
}

.board{
  color:black;
  background-color: white;
  height: 500px;
}
button{
  height: 86px;
  width: 135px;
  font-size: 20px;
}

#button{
  font-size: 20px;
}

h1{
  visibility: hidden;
}

input[type=submit] {
  width: 100%;
  background-color: #41c9e3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#56b8d1;
}

div {
  border-radius: 5px;
  padding: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#09cff7;
}

a{
  color:white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
